{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travello - register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/android-chrome-512x512.png' %}"/>
</head>
<div>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h5 class="card-title text-center">Register</h5>
                            <form class="form-signin" action="register" method="post">
                                {% csrf_token %}
                                <div class="form-label-group ">
                                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Last Name" required autofocus>
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
                                    <label for="last_name">Last Name</label>
                                </div>
                                <hr>
                                <div class="form-label-group">
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Last Name" required>
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
                                    <label for="email">Email address</label>
                                </div>
                                
                                <hr>

                                <div class="form-label-group">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                                    <label for="password">Password</label>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Password" required>
                                    <label for="cpassword">Confirm password</label>
                                </div>
                                {% for message in messages %}
                                <p class="d-block text-center small" style="color: red;">{{message}}</p>    
                                {% endfor %}
                                
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                                <p class="d-block text-center mt-2">Already have an account? <a href="login">Sign in</a></p>
                                <hr class="my-4">
                                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>